// $Id$

// jquery-ui dialogs help
.ui-dialog {
	webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.ui-dialog label {
	display: block;
}

.ui-datepicker, .ui-dialog {
	z-index: 1024;
}

h4.ui-accordion-header {
	padding-left: 2.2em;
}

// jquery validation
div.form-group label.error {
	font-weight: normal !important;
}
.tiki .chosen-container .active-result {
	width: auto !important;
}

// Chosen is calculating the widths wrong (too narrow) so this is a crude workaround.
.tiki .input-group .chosen-container { width: 110% !important; }
// Lets exclude the above to trackers and file galleries because buttons appear on the second line
[class*="tiki-admin"], [class*="tiki-list"], .tiki-view_tracker,
.adminoptionbox, .manage {
	.input-group .chosen-container {
		width: auto !important;
	}
}

@media (max-width: breakpoint-max(sm)) {
    [class*="tiki-admin"], [class*="tiki-list"], .tiki-view_tracker,
    .adminoptionbox, .manage {
        .input-group .chosen-container {
            width: 1% !important;
        }
    }
}

.tiki .chosen-container-single,
.tiki #assign_order_chosen.chosen-container {
	min-width: 6em;
	word-wrap: normal;
}

.tiki .chosen-container .chosen-container-single {
	max-width: 100%;
}

// Prevent the placeholder text "Select Some Options" being cut off at 90px
.chosen-container-multi .chosen-choices .search-field .default {
	min-width: 20em;
}

.chosen-container + .alert {margin-top: 20px;}

.chosen-container .chosen-results li.active-result.text-muted.bg-info {
  background: $info;
}

.chosen-container .chosen-results li.active-result.text-muted.bg-info {
  color: $chosen-text-muted-bg-info !important;
}

.tiki .chosen-container .chosen-choices .search-choice + .search-field input[type="text"] {
	display: none;
}

.tiki .chosen-container.chosen-container-active .chosen-choices .search-choice + .search-field input[type="text"] {
	display: inherit;
}

// Prevent text of currency selector (one known instance of this problem) from being hidden by the background color and shadow.
.tiki .chosen-container .chosen-single abbr {
	background-color: transparent;
	box-shadow: none;
}

// AnythingSlider (wikiplugin_slider) compatibility

.tiki .anythingSlider,
.tiki .anythingWindow,
.tiki .anythingBase,
.tiki .anythingBase > .card {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
}

.tiki .anythingBase > .card {
	margin-bottom: 0;
	background-color: inherit;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

// elFinder tiki overrides

/* prevents elFinder dialog appearing under the embedded pane */
.std42-dialog.elfinder-dialog {
	position:absolute;
}

.elFinderDialog.elfinder {
	visibility: visible;
}

// for the error dialogs

.ui-dialog.elfinder-dialog-error .ui-dialog-content,
.ui-dialog.elfinder-dialog-confirm .ui-dialog-content { padding-left: 56px; min-height:35px; }

.elfinder-rtl .ui-dialog.elfinder-dialog-error .ui-dialog-content,
.elfinder-rtl .ui-dialog.elfinder-dialog-confirm .ui-dialog-content { padding-left:0; padding-right: 56px; }

// quicklook titlebar was behind the image
.elfinder-quicklook-titlebar {
	z-index: 1;
}

// toolbar layout fix
.tiki .elfinder .elfinder-button-search {
	padding-top: 2px;
}
.tiki .elfinder .elfinder-button-search input {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

// h5p tweaks

.tiki-h5p-edit .form-item-title {
	display: none;
}

// site close page  tiki-error_simple.php(site_closed.html)

.page-closed {
    width: 100%;
    margin:  0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
	-webkit-align-items: center;
}
.form-v4-content  {
    background: #fff;
    width: 850px;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    margin: 175px 0;
    position: relative;
    display: flex;
    display: -webkit-flex;
    font-family: 'Open Sans', sans-serif;
}
.form-v4-content h2 {
    font-weight: 700;
    font-size: 30px;
    padding: 6px 0 0;
    margin-bottom: 34px;
}
.form-v4-content .form-left {
    background: #3786bd;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 40px;
    position: relative;
    width: 100%;
    color: #fff;
}
.form-v4-content .form-left p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}
.form-v4-content .form-left .text-2 {
    margin: 20px 0 25px;
}
.form-v4-content .form-left .text-1 {
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
}
.form-v4-content .form-detail {
    padding: 20px 40px;
    position: relative;
    width: 100%;
}
.form-v4-content .form-detail .form-row {
    width: 100%;
    position: relative;
}
.form-v4-content .form-detail label {
    font-weight: 600;
    font-size: 15px;
    color: #666;
    display: block;
    margin-bottom: 8px;
}
.form-v4-content .form-detail .input-text {
    margin-bottom: 27px;
}
.form-v4-content .form-detail input {
    width: 100%;
    padding: 11.5px 15px;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.form-v4-content .form-detail .form-row input:focus {
    border: 1px solid #3786bd;
}
.form-v4-content .form-detail .register {
    background: #3786bd;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 130px;
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
.form-v4-content .form-detail .register:hover {
    background: #2f73a3;
}
.form-v4-content .form-detail .form-row-last input {
    padding: 12.5px;
}
@media screen and (max-width: 991px) {
    .form-v4-content {
      margin: 3em 20px;
      flex-direction:  column;
      -o-flex-direction:  column;
      -ms-flex-direction:  column;
      -moz-flex-direction:  column;
      -webkit-flex-direction:  column;
    }
	.form-v4-content .form-left {
		width: auto;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
	}
	.form-v4-content .form-detail {
      padding: 30px 20px 30px 20px;
        width: auto;
    }
}
